// $BarowFront: "Barlow", sans-serif;

.product-item__wrapper {
  position: relative;
  width: 271px;
  .product-item__notify-link {
    display: none;
  }
}
.product-item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  min-height: 400px;
  padding: 52px 20px 31px;
  transition: all 0.3s;
  &:hover {
    color: #1c62cd;
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  }
  &:hover .product-item__hover-text {
    opacity: 1;
  }
  &:hover .product-item__notify-text {
    color: #2f3035;
  }
}
.product-item__titile {
  font-weight: normal;
  padding: 14px 0;
}
.product-item__price {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
.product-item__favorite {
  position: absolute;
  top: 16px;
  right: 19px;
}
.product-item__basket {
  position: absolute;
  width: 60px;
  height: 40px;
  background-color: #fff;
  background: #1c62cd;
  border-radius: 10px 0px 0px 0px;
  bottom: 0;
  right: 0;
  &::before {
    // content: "...";
    // background-image: url('../img/point.svg');
    // background-size: 30px, 30px;
    // height: 20px;
    // width: 20px;
    // transform: scale(.5);
  }
}
.product-item--sale {
  &::before {
    content: "SALE";
    padding: 8px 15px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #ffffff;
    background-color: #1c62cd;
    position: absolute;
    top: 0;
    left: 0;
  }
}
#favorite {
  background-color: #fff;
}
.icon {
  width: 25px;
  height: 22px;
  transition: all 0.3s;
  &:hover {
    fill: #1c62cd;
  }
}
.product-item__favorite > li {
  background-color: #fff;
}
.product-item__hover-text {
  padding: 18px 21px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  position: absolute;
  display: inline-block;
  top: 30%;
  opacity: 0;
  transition: all 0.4s;
  color: #2f3035;
}
.product-item__wrapper.product-item__not-avialable {
  .product-item__price {
    display: none;
  }
  .product-item__notify-text {
    display: block;
  }
  .product-item__basket {
    display: none;
  }
  .product-item__notify-link {
    display: block;
    position: absolute;
    font-size: 16px;
    line-height: 19px;
    color: #1c62cd;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    span {
      border-bottom: 1px solid #1c62cd;
    }
  }
  .product-item__titile {
    padding: 14px 0;
  }
}
.product-item__notify-text {
  display: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.product__title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
  font-family: $BarowFront;
}
.products__tabs {
  margin-bottom: 25px;
}
.products__tab {
  margin-right: 50px;
  padding-bottom: 10px;
}
.products__tab.tab--active {
  border-bottom: 3px solid #1c62cd;
}
// .slick-prev.slick-arrow {
//   left: 0;
//   background: url("../img/svg/leftarrow.png");
//   background-repeat: no-repeat;
// }
.slick-prev {
  background: #fff;
  width: 20px;
  height: 30px;
  position: absolute;
  left: -40px;
  top: 50%;
  z-index: 4;
  font-size: 0;
  background: url(../img/svg/leftarrow.png);
  background-repeat: no-repeat;
}
.slick-next {
  background: #fff;
  width: 20px;
  height: 30px;
  position: absolute;
  right: -40px;
  top: 50%;
  z-index: 4;
  font-size: 0;
  background: url(../img/svg/rightarrow.png);
  background-repeat: no-repeat;
}
.product__more {
  text-align: center;
  margin: 35px 0px;
}
.product__more-link {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 17px 43px;
  background: #f0f0f4;
}
.banner {
  margin: 52px 0 72px;
}
.popular {
  margin-bottom: 100px;
}
